footer {
  position: absolute;
  bottom: 0;
  height: 100px;
}
.results-block {
  display: inline-block;
  margin-left: 14px;
}
.no-padding {
  padding: 0 !important;
}
.left-padding {
  padding-left: 15px !important;
}
.logout {
  padding-left: 0;
}
.user-name {
  padding-top: 15px;
}
.nav.navbar-right li {
  .btn {
    color: #fff !important;
    margin-top: 5%;
  }
  .btn-danger:hover {
    background-color: darken(#d9534f, 20%) !important;
  }
}
.form-control {
  outline: none;
  display: block;
  height: 36px;
  width: 100%;
  border: none;
  border-radius: 0 !important;
  font-size: 16px;
  font-weight: 300;
  padding: 0;
  background-color: transparent;
  box-shadow: none;
  border-bottom: 1px solid #757575;
  &:focus {
    border-color: crimson;
    outline: none;
    box-shadow: none;
  }
}

.btn {
  outline: 0;
  outline-offset: 0;
  border: 0;
  border-radius: 2px;
  @include transition-property(transition);
@include transition-duration(0.15s);
@include transition-timing-function(ease-in-out);

  &:focus, &:active, &.active, &:active:focus, &.active:focus {
    outline: 0;
    outline-offset: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
  }
}
